@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin 'tailwind-scrollbar' {
	nocompatible: true;
}

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

html,
body {
	@apply bg-white dark:bg-gray-900;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

.segment {
	@apply py-16 lg:py-32;

	+ .segment {
		@apply pt-0;
	}
}

.carousel {
	gap: clamp(16px, 14.609px + 0.435vw, 20px);
	grid-auto-columns: clamp(18rem, 250.783px + 9.13vw, 23rem);
	justify-content: safe start;
	scroll-snap-type: x mandatory;
}

.isDragging {
	scroll-behavior: unset;
	scroll-snap-align: unset;
	scroll-snap-type: unset;

	& > * {
		pointer-events: none;
		user-select: none;
	}
}
